package template

import "gather-your-party/internal/component"

import "fmt"
import "github.com/softsrv/steamapi/steamapi"

type PageState int

const (
	Signin PageState = iota
	Main
)

func getGameUrl(appID int, imageID string) string {
	return fmt.Sprintf("http://media.steampowered.com/steamcommunity/public/images/apps/%d/%s.jpg", appID, imageID)
}

templ Base(title string) {
	<html data-theme="dim">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="/static/script/htmx.min.js"></script>
			<link rel="stylesheet" href="/static/css/output.css"/>
			<title>{ title }</title>
		</head>
		<body>
			<main class="p-6 grid gap-4">
				{ children... }
			</main>
		</body>
	</html>
}

templ Home(player steamapi.Player, title string, pageName PageState) {
	@Base(title) {
		@component.Navbar(player, "")
		if pageName == Signin {
			@component.Signin()
		} else if pageName == Main {
			@component.Main()
		} else {
			@component.TextAndTitle("thank you", "welcome to the site")
		}
	}
}

templ ErrorMessage(msg string) {
	@component.ErrorMessage(msg)
}

templ ErrorMessages(msgs []string) {
	@component.ErrorMessages(msgs)
}

templ GameList(games []steamapi.Game) {
	<ul>
		for _, item := range games {
			<li><img src={ getGameUrl(item.AppID, item.ImgIconURL) }/>{ item.Name }</li>
		}
	</ul>
}

templ SharedGamesList(games []steamapi.Game) {
	@GameList(games)
}

templ FriendsList(friends []steamapi.Player) {
	<form id="friends-list-form">
		<ul>
			for _, item := range friends {
				<li>
					<label class="flex items-center gap-2">
						<input type="checkbox" name="friendID" value={ item.SteamID }/>
						<img src={ item.AvatarSmall }/>
						<span>{ item.PersonaName }</span>
					</label>
				</li>
			}
		</ul>
		<button type="button" hx-post="/frag/shared-games" hx-target="#shared-games-results" hx-include="#friends-list-form" class="btn btn-active btn-primary w-full flex justify-center text-gray-100 p-3 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-200">
			Show Shared Games
		</button>
	</form>
	<div id="shared-games-results"></div>
}

templ Landing(isLoggedIn bool) {
	@Base("Gather Your Party - Welcome!") {
	}
}

templ Login() {
	@Base("Gather Your Party - Login") {
		@component.Navbar(steamapi.Player{}, "")
	}
}
